version: '3.4'
services:
 elasticsearch:
   container_name: elasticsearch
   image: 'docker.elastic.co/elasticsearch/elasticsearch:7.9.1'
   ports:
     - '9200:9200'
   volumes:
     - 'elasticsearch-data:/usr/share/elasticsearch/data'
   environment:
     - xpack.monitoring.enabled=true
     - xpack.watcher.enabled=false
     - ES_JAVA_OPTS=-Xms512m -Xmx512m
     - discovery.type=single-node
   networks:
     - elastic
 kibana:
   container_name: kibana
   image: 'docker.elastic.co/kibana/kibana:7.9.1'
   ports:
     - '5601:5601'
   depends_on:
     - elasticsearch
   environment:
     - 'ELASTICSEARCH_URL=http://localhost:9200'
   networks:
     - elastic
 redis:
   container_name: redis
   image: redis
   command: redis-server --requirepass Redis2019!
   ports:
     - '6379:6379'
     
 sql-server:
    container_name: sql-server-db
    image: microsoft/mssql-server-linux:2017-latest
    ports:
      - '1433:1433'
    environment:
      SA_PASSWORD: 'Sprpwd1234'
      ACCEPT_EULA: 'Y'
     
networks:
  elastic:
    driver: bridge
volumes:
  elasticsearch-data: null
